<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.tfg">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".PrimeraActivity"></activity>
        <activity android:name=".EditarTablaDeEntreno" />
        <activity android:name=".EditarDietaActivity" />
        <activity android:name=".EditarObjetivoActivity" />
        <activity android:name=".EditarInfoPersonalActivity" />
        <activity
            android:name=".LoginActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".RegistroActivity" />
        <activity android:name=".DocumentarEjercicioActivity" />
        <activity android:name=".ListaEjerciciosActivity" />
        <activity android:name=".ListaEjerciciosDiaSemanaActivity" />
        <activity android:name=".CrearProducto" />
        <activity android:name=".ListaProductosActivity" />
        <activity android:name=".ProductoActivity" />
        <activity android:name=".DiaDietaActivity" />
        <activity android:name=".DiasSemanaEntrenosActivity" />
        <activity android:name=".MainActivity" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>